.navbars{

}

.nav-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-logo{

}

.navbar-logo img{

}

.nav-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}