@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
  padding-top: 0;
}

.text-shadow-alterum {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.services {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.service {
  background-color: #ffffff;
  padding: 20px;
  flex-basis: calc(33.333% - 40px);
  margin: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: #333;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-icon {
  width: 60px;
  height: 60px;
  background-color: #f7f7f7;
  margin-bottom: 15px;
  border-radius: 50%;
}

.product-display {
  padding: 2rem;
}

.product-display div {
  width: 100%;
}

.product-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  overflow: auto;
}

.product-card {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  align-self: stretch;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  color: white;
}

#container3D canvas {
  width: 100% !important;
  height: 100% !important;
}

.bg-alterum-backgroundGradient {
  background: linear-gradient(
    to bottom left,
    #800080 10%,
    #000000 50%,
    #000000 50%,
    #800080 90%
  );
}

.Storageoptions {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.storage {
  background-color: #ffffff;
  padding: 20px;
  flex-basis: calc(33.333% - 40px);
  margin: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: #333;
}

.storage:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.storage-icon {
  width: 60px;
  height: 60px;
  background-color: #f7f7f7;
  margin-bottom: 15px;
  border-radius: 50%;
}

.team-title {
  text-align: center;
  font-weight: 800;
  color: white;
  margin-bottom: 60px;
  font-family: "Helvetica", sans-serif;
  font-size: 60px;
}

.member-name {
  font-weight: 600;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
}

.member-title {
  font-weight: 400;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}

.member-description {
  font-weight: 300;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
}

.member-image-left {
  width: auto;
  max-height: 500px;
  min-width: 200px;
  max-width: 500px;
}

.member-image-right {
  width: auto;
  max-height: 500px;
  min-width: 200px;
  max-width: 500px;
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.left-container img {
  flex-grow: 1;
}

.right-container img {
  flex-grow: 1;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.right-text {
  text-align: right;
}
.table-container table {
  border-collapse: collapse;
  width: 100%;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-card {
  margin-bottom: auto;
  align-self: flex-start;
}

.table-container {
  align-self: flex-end;
}
.product-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
}

.product-card {
  width: 50%;
  align-self: flex-end;
}

.table-container {
  width: 50%;
  align-self: flex-end;
}

.p1 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
