@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
  padding-top: 0;
}

.text-shadow-alterum {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.services {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.service {
  background-color: #ffffff;
  padding: 20px;
  flex-basis: calc(33.333% - 40px);
  margin: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: #333;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-icon {
  width: 60px;
  height: 60px;
  background-color: #f7f7f7;
  margin-bottom: 15px;
  border-radius: 50%;
}

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.product-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.bg-alterum-backgroundGradient {
  background: linear-gradient(145deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
}

.main-content,
.services,
.product-display {
  position: relative;
  z-index: 2;
}

#container3D canvas {
  width: 100% !important;
  height: 100% !important;
}